 .Pokememory {
  height: 90%;
} 

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.blur-none {
  filter: none;
  pointer-events: all;
}

.poke-logo {
  width: 40%;
}

h1 {
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
}

.board-container {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  flex: .4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.poke-btn{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  width: 200px;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: var(--poke-btn);
} 
.poke-btn:hover {
  background:  var(--poke-btn-hover) ;
}

.board {
  flex: .8;
  height: 90%;
  display: grid;
  gap: 10px;
  padding: 0 20px;
}

.poke-block {
  width: 100%;
  height: 100%;
}

.poke-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.poke-block-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.poke-block-front, .poke-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
}

.poke-block-back {
  background-color: #f8edeb;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.poke-block-front {
  background-color: #a8dadc;
}

.poke-block-flipped {
  transform: rotateY(180deg);
}

@media screen and (max-width:769px)  {
  .board {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .content {
    flex-direction: column;
  }
  .options {
    flex: none;
  }
}

@media screen and (min-width:770px) and (max-width:1536px)  {
  .content {
    flex-direction: column;
  }
  .board-container {
    flex: 1;
  }
  .options {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  .poke-btn {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}